html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto !important;
}

.navbar {
  margin-bottom: 2em;
  width: 100%;
  background-color: #35495e !important;
}

.toolbar {
  background-color: #347474 !important;
} 
